<h1>New User</h1> <%= link_to 'Log in', login_path %>

<%= render 'form' %>

</br>
<%= link_to 'All categories', categories_path %>
<% if is_superadmin? %>| <%= link_to 'View all users', users_path %><% end %>
