<%= content_tag :div,
  id: "pictures-data",
  data: @pictures.to_json do %>
<% end %>

<%= content_tag :div,
  id: "category-data",
  data: @category.to_json do %>
<% end %>

<div id="pictures_index"></div>