<h1>New Picture</h1>

<!-- form doc: http://api.rubyonrails.org/v5.1.2/classes/ActionView/Helpers/FormHelper.html#method-i-form_for -->

<%= render 'form' %>

<%= link_to 'All categories', categories_path %>
