/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*********************************************************************/

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
    min-height: 100vh;
 }

#app-component, #app-container { min-height: 100vh }

#app-container {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--site-background);
    /* needed for footer absolute position */
    position: relative;
}

:root {
    --site-tone: #e8dede;
    --site-background: #f0f2f3;
    --site-footer: #4e606e;
}

.container { width: 94% }

.inline {display: inline}

a.btn { color: white }

.page-title {
    font-size: 1.5em;
    margin: 1.2vh auto;
    font-family: ubuntu;
    text-decoration: overline;
    display: inline-block;
}

.admin-page-title {
    font-size: 1.5em;
    margin: 1.2vh auto;
}


/*********************************************************************/
/* Page header - Navibar */

#page-header {
    text-align: center;
    /* the background image ratio needs to be 1:5 */
    background-image: url('/TopBackgroundImg.jpg');
    background-size: 100% auto;
    height: calc(20vw - 3px);
    padding: 0px 15px;
    position: relative;
    box-shadow: 0px 2px 20px;
}

a#home-link { text-decoration: none }

#site-name {
    color: black;
    font-family: italiana;
    font-size: 3.5em;
    line-height: 9vw;
}

#site-name-2 {
    color: black;
    font-family: italiana;
    font-size: 1.2em;
    margin-top: -3vw;
}

div#menuitems {
    position: absolute;
    left: 0; right: 0; bottom: 1.5vw;
}

a.btn.btn-default { color: black }

#page-header a.btn.btn-default, 
#page-header a.btn.btn-default:active,
#page-header a.active.btn.btn-default,
#page-header #menuitems li {
    border: none;
    box-shadow: none;
    font-family: ubuntu;
    padding: 0.2vw 0.6vw;
    margin-left: 1.2vh;
    margin-right: 1.2vh;
    background: rgba(255,255,255,0.7);
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}

/* Category name menu items font color should be black */
#page-header #menuitems li a { color: black }

/* when hovering over All galeries and Info menu items when the whole menu is visible */
#menuitems a.btn.btn-default:hover, #menuitems li a:hover {
    color: #abc1cc !important;
}

/* when hovering over categories names when the whole menu is visible */
#menuitems li a:hover, #menuitems li a:focus {
    background: none;
    text-decoration: none;
    outline: 0;
}

/* active link (categories items) in menu items */
#menuitems li.active a {
    text-decoration: overline;
}

/* active link buttons (All categories & Info) in menu items */
#page-header a.active.btn.btn-default { 
    text-decoration: overline;
}

/* Admin menu button position on wide screens in on the top right corner */
#page-header div.dropdown.btn-group:nth-of-type(3) {
    position: absolute;
    top: 20px; right: 20px;
    margin: 0;
    font-family: ubuntu;
    font-size: 16px;
}

/* Admin menu list items line-height */
#page-header div.dropdown.btn-group:nth-of-type(3) li a {
    line-height: 24px;
}

/* Open admin dropdown */
#page-header div.dropdown.open.btn-group li.active a {
    background-image: none; /* needed to set a background color */
    background-color: #b1bdca;
}

/* Admin menu items */

button#admin_dropdown {
    background-color: rgba(204,215,230,0.3);
    border: none;
    margin-left: 1.2vh;
    font-size: 16px;
    background-image: none;
}

#admin_dropdown:hover { color: #868585 }


@media screen and (max-width: 767px) and (min-width: 426px) {
    button#menuitems.visible-xs {
        font-size: 6vw;
        background: none;
        box-shadow: 1px 1px 10px darkgrey;
        padding: 10px 15px 0 15px;
    }

    #page-header { position: relative; }

    #site-name { line-height: 14vw; font-size: 3.2em; }
    #site-name-2 { margin-top: -1.7vw; font-size: 1em; }

    /* dropdown menu with categories */
    #page-header div.dropdown.btn-group:nth-of-type(2) {
        position: absolute;
        top: 2vw; right: 2vw;
    }

    #page-header div.dropdown.btn-group:nth-of-type(2) a {
        line-height: 30px;
        font-family: ubuntu;
        font-size: 14px;
    }

    #page-header div.dropdown.btn-group:nth-of-type(2) a.active {
        text-decoration: none;
        color: darkgray;
    }

    /* admin dropdown menu */
    #page-header div.dropdown.btn-group:nth-of-type(3) {
        top: 13.5vw; right: 2vw;
    }

    #page-header div.dropdown.btn-group:nth-of-type(3) #admin_dropdown {
        margin: 0;
        width: calc(6vw + 30px);
        text-align: center;
        background-color: rgba(255,255,255,0.8);
        font-size: 12px;
        padding: 3px 6px;

    }

    #page-header div.dropdown.btn-group:nth-of-type(3) li a {
        font-family: ubuntu;
        font-size: 12px;
        line-height: 24px;
    }

    #page-header div.dropdown.btn-group:nth-of-type(3) li a:focus,
    #page-header div.dropdown.btn-group:nth-of-type(2) a:focus {
        outline: 0;
    }
}


@media screen and (max-width: 425px) {
    button#menuitems.visible-xs {
        font-size: 5vw;
        background: none;
        box-shadow: 1px 1px 10px darkgrey;
        padding: 5px 10px 0 10px;
    }

    #page-header { position: relative; }

    #site-name { line-height: 14vw; font-size: 2.2em; }
    #site-name-2 { margin-top: -2.5vw; font-size: 0.8em; }

    /* dropdown menu with categories */
    #page-header div.dropdown.btn-group:nth-of-type(2) {
        position: absolute;
        top: 2vw; right: 2vw;
    }

    #page-header div.dropdown.btn-group:nth-of-type(2) a {
        line-height: 30px;
        font-family: ubuntu;
        font-size: 14px;
    }

    #page-header div.dropdown.btn-group:nth-of-type(2) a.active {
        text-decoration: none;
        color: darkgray;
    }

    /* admin dropdown menu */
    #page-header div.dropdown.btn-group:nth-of-type(3) {
        top: 12vw; right: 2vw;
    }

    #page-header div.dropdown.btn-group:nth-of-type(3) #admin_dropdown {
        margin: 0;
        width: calc(6vw + 30px);
        text-align: center;
        background-color: rgba(255,255,255,0.8);
        font-size: 12px;
        padding: 3px 6px;

    }

    #page-header div.dropdown.btn-group:nth-of-type(3) li a {
        font-family: ubuntu;
        font-size: 12px;
        line-height: 24px;
    }

    #page-header div.dropdown.btn-group:nth-of-type(3) li a:focus,
    #page-header div.dropdown.btn-group:nth-of-type(2) a:focus {
        outline: 0;
    }
}

/*********************************************************************/
/* Page footer */

#footer {
    background: var(--site-footer);
    text-align: center;
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: table;
}

#footer p {
    color: white;
    font-size: 12px;
    font-family: italiana;
    display: table-cell;
    vertical-align: middle;
}


/*********************************************************************/
/* Forms */

.form-layout, .user-info {
    width: 90%;
    max-width: 700px;
    margin: auto;
    /* needed for proper footer layout */
    padding-bottom: 50px;
}

.form-layout h2, .form-layout h3 { margin-bottom: 5vh }

.form-layout img {
    max-height: 50vh;
    max-width: 80vw;
}

#picture_description { display: block }

div.actions input {
    border-radius: 3px;
    color: white;
    /* BS 'success' style color - used for all submit buttons except in the contact form */
    background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
}

button.back-link a {
    color: white;
    text-decoration: none;
    background: none;
}

div.actions { margin-top: 20px }

div.form-layout div.form-group { margin: 0 auto }

div.form-layout table td { vertical-align: middle !important }

div.form-layout table td label { margin: 0 }

div.form-layout table td input { width: 100% }


/*********************************************************************/
/* notices (Rails flash layout) */

div.notice.alert {
    min-width: 150px;
    max-width: 80%;
    padding: 5px;
    position: fixed;
    top: 123px;
    right: 15px;
    z-index: 10;
}

div.notice.alert button.close {
    top: -8px;
    right: -5px;
}


/*********************************************************************/
/* Fonts from fontsquirrel.com */
@font-face {
    font-family: 'italiana';
    src: url('/fonts/italiana-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu';
    src: url('/fonts/UbuntuMono-R.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
