/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*********************************************************************/

html { background-color: #f3f3f3 }

body { margin: 0px }

#app-container {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: #f3f3f3;
}

/*********************************************************************/
/* Admin buttons */

#logout-button {
    position: absolute;
    top: 83px;
    left: 2px;
    color: white;
}

a.new-category-button, a.new-picture-button {
    color: white;
    position: absolute;
    left: 2px;
    top: 111px
}

/*********************************************************************/
/* all pages */

a.btn { color: white }

.page-title {
    font-size: 1.5em;
    margin: 1vh;
    font-family: ubuntu;
    text-decoration: overline;
}

.cats-and-pics-pages {
    width: 98%;
    margin: auto;
    max-width: 1600px;
    text-align: center;
}

.container { width: 94% }


/*********************************************************************/
/* Page header */

#page-header {
    text-align: center;
    background: #e8dede;
    padding: 15px 15px 5px 15px;
}

a#home-link {
    text-decoration: none;
    color: black;
}

a.btn.btn-default { color: black; }

a.btn.btn-default, a.active.btn.btn-default, a.btn.btn-default:active {
    background: #e8dede;
    border: none;
    box-shadow: none;
}

a.active.btn.btn-default, a.btn.btn-default:hover {
    color: #09a2a9;
}

#menuitems a, #menuitems li > a {
    font-family: ubuntu;
    text-decoration: overline;
}

#allcats { 
    display: inline;
 }

button#allcats {
    background: #e8dede;
    border-color: #fff2f2;
    box-shadow: none;
    padding: 3px 6px 0px 6px;
}

ul.dropdown-menu.dropdown-menu-right > li.active > a {
    background: #d6b9b9;
}

#site-name {
    font-family: italiana;
    font-size: 2em;
}

#site-name-2 {
    font-family: italiana;
    font-size: 1.2em;
}

/*********************************************************************/
/* Home / index page */

#home-page {
    text-align: center;
    width: 98%;
    margin: auto;
    height: 100%;
}

div#pic-element {
    position: relative;
    max-width: 95%;
    max-height: 65vh;
    margin: 2vh auto;
    width: 1000px;
    height: 1000px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 12px darkgrey;
}

div#pic-element img { 
    max-height: 95%;
    max-width: 95%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    box-shadow: 2px 2px 10px darkgrey;
}

div#pic-element a { color: black; }

div#pic-element a:hover img, div#pic-element a:hover #category-name { opacity: 0.7; }

#category-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: 0.5;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 105%;
    font-size: 3em;
    font-family: ubuntu;
    font: black;
    border-top: solid thin #d8d8d8;
    border-bottom: solid thin #d8d8d8;
}

.next, .prev { 
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: -2px;
    z-index: 10;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.prev { left: -2px; }

.next { right: -2px; }

.prev span, .next span { top: 10%; }

.next:hover, .prev:hover {
    background-color: #e8dede;
    opacity: 0.5;
    cursor: pointer;
}

/*********************************************************************/
/* categories index */

*[id^="category_"].col-lg-3.col-md-4.col-sm-6 {
    height: 310px;
    padding: 5px;
}

*[id^="category_"] img {
    max-height: 95%;
    max-width: 95%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

*[id^="category_"] #catname {
    position: absolute;
    display: block;
    bottom: 20px; left: 0; right: 0;
    z-index: 10;
    background-color: #f3f3f3;
    opacity: 0.8;
    width: 60%;
    margin: auto;
    font-family: ubuntu;
    font-size: 1em;
}

.cat_pic {
    height: 100%;
    width: 100%;
    max-width: 310px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: white;
    border-radius: 3px;
    position: relative;
    box-shadow: 5px 5px 12px darkgrey;
}

.cat_pic:hover #catname {
    opacity: 1;
    color: black;
}

.cat_pic:hover img { opacity: 0.8 }

#edit-delete-cat {
    position: absolute;
    top: 5px; right: 5px;
}

.edit-category { margin-right: 5px }


/*********************************************************************/
/* pictures index */

.picture-element.col-lg-3.col-md-4.col-sm-6 {
    height: 310px;
    padding: 5px;
}

.picture-element img {
    max-height: 95%;
    max-width: 95%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.picture_pic {
    height: 100%;
    width: 100%;
    max-width: 310px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: white;
    border-radius: 3px;
    position: relative;
    box-shadow: 5px 5px 12px darkgrey;
}

.picture_pic:hover img { opacity: 0.8 }

#edit-delete-pic {
    position: absolute;
    top: 5px; right: 5px;
}

.edit-picture { margin-right: 5px }

/*********************************************************************/
/* Fonts from fontsquirrel.com */
@font-face {
    font-family: 'italiana';
    src: url('italiana-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntu';
    src: url('UbuntuMono-R.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}