#categories-page {
    width: 100%;
    position: relative;
    margin: auto;
    text-align: center;
    /* needed for proper footer layout */
    padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
    *[id^="category_"].col-md-4.col-sm-6.col-xs-6 {
        height: 350px;
        padding: 10px;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 560px) and (max-width: 767px) {
    *[id^="category_"].col-md-4.col-sm-6.col-xs-6 {
        height: 250px;
        padding: 7px;
        margin-bottom: 11px;
    }
}

@media screen and (max-width: 559px) {
    *[id^="category_"].col-md-4.col-sm-6.col-xs-6 {
        height: 170px;
        padding: 5px;
        margin-bottom: 5px;
    }
}

*[id^="category_"] img {
    max-height: 95%;
    max-width: 95%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

*[id^="category_"] #catname {
    position: absolute;
    display: block;
    bottom: 20px; left: 0; right: 0;
    z-index: 10;
    background-color: rgba(245,245,245,0.7);
    border: solid thin #e0e0e0;
    border-radius: 2px;
    color: #444444;
    width: 80%;
    margin: auto;
    font-family: ubuntu;
    font-size: 1em;
}

.cat_pic {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: white;
    border-radius: 3px;
    position: relative;
    box-shadow: 5px 5px 12px darkgrey;
}

.cat_pic:hover #catname {
    opacity: 1;
    color: black;
}

.cat_pic:hover img { opacity: 0.8 }

/* admin buttons to edit categories on the category index */
#edit-delete-cat #cat_admin_overlay_btn {
    position: absolute;
    top: 1px; left: 1px;
    outline: 0;
    background: white;
    opacity: 0.6;
    box-shadow: none;
    color: #078498;
    padding: 3px 5px 1px 5px;
}