#categories-page {
    width: 100%;
    position: relative;
    margin: 160px auto 0 auto;
    /* for footer proper layout (NB: footer height is 30px + 20px to breath) */
    padding-bottom: 50px;
    text-align: center;
}

#categories-page .page-title { margin-bottom: 30px }

@media screen and (max-width: 767px) and (min-width: 425px) {
    #categories-page { margin: 110px auto 0 auto }
}

@media screen and (max-width: 424px) {
    #categories-page { margin: 60px auto 0 auto }
}

#all_cats {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.cat_pic {
    position: relative;
    width: 32.8%;
    margin-bottom: 6px;
}

.cat_pic img {
    height: 100%;
    width: 100%;
    border: solid black;
}

.cat_pic:hover {
    background-color: black;
}

.cat_pic:hover a {
    text-decoration: none;
    background-color: transparent;
}

.cat_pic:hover img {
    opacity: 0.8;
    filter: blur(4px);
    -webkit-transition: opacity 0.2s linear 0s; /* For Safari 3.1 to 6.0 */
    transition: opacity 0.2s linear 0s;
}

.catname {
    color: white;
    font-size: 40px;
    line-height: 35px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 0.5px;
    position: absolute;
    margin: 0 15px;
    left: 0; right: 0; top: 48%;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear 0s; /* For Safari 3.1 to 6.0 */
    transition: opacity 0.2s linear 0s;
    text-shadow: 2px 2px 4px black;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}

.cat_pic:hover .catname {
    opacity: 1;
    -webkit-transition: opacity 0.5s linear; /* For Safari 3.1 to 6.0 */
    transition: opacity 0.5s linear;
}



@media screen and (max-width: 1500px) and (min-width: 993px) {
    .cat_pic {
        width: 49.3%;
    }
}

@media screen and (max-width: 992px) {
    .cat_pic {
        width: calc(100% - 12px);
    }
}

@media screen and (max-width: 768px) {
    .catname {
        opacity: 1;
        font-size: 36px;
        line-height: 30px;
    }

    .cat_pic {background-color: black}

    .cat_pic img {
        filter: blur(1px);
        opacity: 0.8;
    }
}

@media screen and (max-width: 425px) {
    .catname {
        opacity: 1;
        font-size: 30px;
        line-height: 25px;
    }
}


/* admin buttons to edit categories on the category index */
.edit-delete-cat .cat_admin_overlay_btn {
    position: absolute;
    top: 1px; left: 1px;
    outline: 0;
    opacity: 0.7;
    box-shadow: none;
    color: black;
    background: #86a8d0;
    text-shadow: none;
    padding: 3px 5px 1px 5px;
    width: 26px;
}

.edit-delete-cat .cat_admin_overlay_btn:hover {
    box-shadow: 1px 1px 20px white;
}