#languages {
    width: 96%;
    margin: auto;
    max-width: 800px;
    text-align: center;
    height: 100%;
    /* needed for proper footer layout */
    padding-bottom: 40px;
}

#language-table { margin-top: 30px }