#pictures-page {
    width: 96%;
    margin: auto;
    text-align: center;
    /* needed for proper footer layout */
    padding-bottom: 40px;
}

#pictures-page .panel {
    width: 96%;
    max-width: 600px;
    margin: -5px auto 20px auto;
    border: none;
}

#pictures-page .panel p {
    font-size: 14px;
    margin: 0;
    line-height: 20px;
}

@media screen and (max-width: 767px) and (min-width: 426px) {
    #pictures-page .panel p {
        font-size: 13px;
        line-height: 19px;
    }
}

@media screen and (max-width: 426px) {
    #pictures-page .panel p {
        font-size: 12px;
        line-height: 17px;
    }
}

#cat_desc_btn {
    background: white;
    margin-left: 6px;
    outline: none;
    padding: 4px 7px 2px 7px;
    border-radius: 5px;
}

#category_description {
    margin: 0 auto 30px auto;
    padding: 10px;
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 3px;
}

.picture-element img {
    max-height: 95%;
    max-width: 95%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.picture_pic {
    height: 100%;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: white;
    border-radius: 3px;
    position: relative;
    box-shadow: 5px 5px 12px darkgrey;
}

.picture_pic:hover img { opacity: 0.8 }

#edit-delete-pic {
    position: absolute;
    top: 5px; right: 5px;
    opacity: 0.7;
}

.edit-picture { margin-right: 5px }

/* modal */

.custom-modal.modal-dialog {
    max-width: 1250px;
    width: 98%;
    max-height: 1000px;
    height: 80%;
    margin: 12vh auto !important;
}

h4.modal-title { font-size: 16px }

@media screen and (min-width: 426px) and (max-width: 767px) {
    h4.modal-title { font-size: 13px }
}

@media screen and (max-width: 425px) {
    h4.modal-title { font-size: 11px }
}

.modal-content {
    height: 100%;
    width: 100%;
    font-size: 12px;
}

.modal-body {
    height: calc(100% - 82px);
    padding: 0px !important;
    /* needed to center picture description */
    text-align: center;
}

.modal-body img {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 96%;
    max-width: 88%;
}

.modal-header, .modal-footer {
    background-color: black;
    color: white;
    padding: 10px !important;
}

.modal-header { text-align: center }

.modal-header #close_button { 
    color: white;
    opacity: 1;
    display: inline;
    float: right;
    font-size: 14px;
}

.modal-header #close_button:hover {
    opacity: 0.7;
    text-decoration: none;
}

.prev-pic, .next-pic {
    position: absolute;
    width: 12%;
    height: 100%;
    text-align: center;
    z-index: 10;
}

.prev-pic { left: 0 }
.next-pic { right: 0 }

.prev-pic:hover, .next-pic:hover {
    cursor: pointer;
    background-color: transparent;
}

#chevron-left, #chevron-right { 
    top: 50%;
    font-size: 30px;
    color: #fff;
    margin-top: -10px;
    text-shadow: 3px 3px 10px black;;
}

.prev-pic:hover #chevron-left, .next-pic:hover #chevron-right {
    text-shadow: 5px 5px 12px black; 
}

span.pic-description {
    position: absolute;
    bottom: 0;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    background-color: rgba(50,50,50,0.6);
    color: white;
    max-width: 90%;
    padding: 5px 10px;
    font-size: 14px;
}

@media screen and (min-width: 426px) and (max-width: 767px) {
    span.pic-description { font-size: 12px }
}

@media screen and (max-width: 425px) {
    span.pic-description { font-size: 11px }
}

/* picture modal footer */
div.modal-footer { text-align: left !important }

div.picture_modal div.modal-footer {
    line-height: 20px;
}

#pic_copyright { font-size: 14px }

@media screen and (min-width: 426px) and (max-width: 767px) {
    #pic_copyright { font-size: 12px }
}

@media screen and (max-width: 425px) {
    #pic_copyright { font-size: 11px }
}

div.picture_modal div.modal-footer button.btn {
    border: none;
    box-shadow: none;
    background: #3B5998;
    color: white;
    float: right;
    text-shadow: none;
    padding: 3px 4px 0 5px;
    outline: 0;
}

@media screen and (min-width: 1720px) {
    .picture-element.col-lg-3.col-md-4.col-sm-6.col-xs-6 {
        height: 400px;
        padding: 15px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1719px) {
    .picture-element.col-lg-3.col-md-4.col-sm-6.col-xs-6 {
        height: 330px;
        padding: 10px;
        margin-bottom: 7px;
    }
}

@media screen and (min-width: 560px) and (max-width: 767px) {
    .picture-element.col-lg-3.col-md-4.col-sm-6.col-xs-6 {
        height: 250px;
        padding: 7px;
        margin-bottom: 4px;
    }
    .custom-modal.modal-dialog {
        width: 96vw;
        height: 96vw;
    }
}

@media screen and (max-width: 559px) {
    .picture-element.col-lg-3.col-md-4.col-sm-6.col-xs-6 {
        height: 170px;
        padding: 5px;
    }

    .custom-modal.modal-dialog {
        width: 96vw;
        height: 96vw;
    }
}

#fb_share_btn_pic {
    border: none;
    height: 19px;
    float: right;
    padding: 0px 5px;
    border-radius: 3px;
    background-color: #3B5998;
    color: white;
    outline: 0;
}

#fb_share_btn_pic > span {
    font-size: 11px;
    font-family: Helvetica, Arial, sans-serif;
    margin-left: 5px;
    letter-spacing: 0.5px;
}

#fb_share_btn_pic:hover { opacity: 0.9 }