#pictures-page {
    width: 98vw;
    margin: 160px auto 0 auto; /* 150px for the header + 10px margin for the title */
    text-align: center;
    /* for footer proper layout (NB: footer height is 30px + 10px margin to breath) */
    padding-bottom: 40px;
}

#pictures-page .page-title {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}

@media screen and (max-width: 767px) and (min-width: 426px) {
    #pictures-page {
        margin: 100px auto 0 auto; /* 100px for the header */
    }
}

@media screen and (max-width: 425px) {
    #pictures-page {
        margin: 80px auto 0 auto; /* 60px for the header */
    }
}

#pictures-page .panel {
    width: 96%;
    max-width: 600px;
    margin: -20px auto 20px auto;
    border: none;
}

#pictures-page .panel p {
    font-size: 14px;
    margin: 0;
    line-height: 20px;
}

@media screen and (max-width: 767px) and (min-width: 426px) {
    #pictures-page .panel p {
        font-size: 13px;
        line-height: 19px;
    }
    #pictures-page .page-title {margin-bottom: 20px;}
}

@media screen and (max-width: 426px) {
    #pictures-page .panel p {
        font-size: 12px;
        line-height: 17px;
    }
    #pictures-page .page-title {margin-bottom: 20px;}
}

#cat_desc_btn {
    background: white;
    opacity: 0.7;
    margin-left: 15px;
    margin-top: -18px;
    outline: none;
    padding: 6px 10px 5px 10px;
    border-radius: 5px;
}

@media screen and (max-width: 767px) and (min-width: 426px) {
    #cat_desc_btn {margin-top: -14px;}
}

@media screen and (max-width: 425px) {
    #cat_desc_btn {margin-top: -12px}
}

#category_description {
    margin: 0 auto 30px auto;
    padding: 10px;
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 3px;
}

.picture_pic {
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 3px;
    position: relative;
    box-shadow: 5px 5px 60px #909090;
}

.picture-element {
    padding: 5px !important;
}

.picture-element img {
    max-height: 94%;
    max-width: 94%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}

.picture_pic:hover a {background-color: transparent}

.picture_pic p {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    letter-spacing: 0.7px;
    color: white;
    text-shadow: 1px 1px 5px black;
    opacity: 0;
    position: absolute;
    text-align: center;
    -webkit-transition: opacity 0.1s linear 0s;
    transition: opacity 0.1s linear 0s;
}

/* Picture title position */
.picture_pic p:nth-child(2) {
    top: 15px; left: 0; right: 0;
}

/* Picture copyright position */
.picture_pic p:nth-child(3) {
    bottom: 10px; left: 0; right: 0;
}

@media screen and (max-width: 768px) {
    .picture_pic p {font-size: 12px}
}

@media screen and (max-width: 425px) {
    .picture_pic p {font-size: 11px}
}

.picture_pic:hover p {
    opacity: 1;
    -webkit-transition: opacity 0.3s linear 0s;
    transition: opacity 0.3s linear 0s;
}

#pictures-page button.cat_admin_overlay_btn {
    margin-left: 15px;
    margin-top: -15px;
    background: #86a8d0 !important;
    opacity: 0.8;
    width: 34px;
    padding: 5px 9px 3px 8px;
    box-shadow: 1px 1px 10px white;
    text-shadow: none;
    outline: 0 !important;
}

button.pic_admin_overlay_btn {
    position: absolute;
    top: 1px; left: 1px;
    outline: 0;
    background: #86a8d0 !important;
    opacity: 0.6;
    box-shadow: none;
    color: #000;
    padding: 3px 5px 1px 5px;
    width: 26px;
    text-shadow: none;
    outline: 0 !important;
}

button.cat_admin_overlay_btn:hover,
button.pic_admin_overlay_btn:hover {
    box-shadow: 1px 1px 20px white;
    border: solid thin white;
}


@media screen and (min-width: 1720px) {
    .picture-element.col-lg-4.col-md-6.col-sm-6.col-xs-12 { height: 540px }
}

@media screen and (min-width: 768px) and (max-width: 1719px) {
    .picture-element.col-lg-4.col-md-6.col-sm-6.col-xs-12 { height: 350px }
    #pictures-page button.cat_admin_overlay_btn {margin-top: -18px;}
}

@media screen and (min-width: 426px) and (max-width: 767px) {
    .picture-element.col-lg-4.col-md-6.col-sm-6.col-xs-12 {
        height: 280px;
        max-width: 420px;
        float: none;
        margin: auto;
    }
}

@media screen and (max-width: 425px) {
    .picture-element.col-lg-4.col-md-6.col-sm-6.col-xs-12 {
        height: 280px;
        max-height: 100vw;
        max-width: 420px;
        float: none;
        margin: auto;
    }
    #pictures-page button.cat_admin_overlay_btn {margin-top: -12px;}
}


/* modal */

div.picture_modal.in.modal { background-color: rgba(0, 0, 0, 0.9) }

.custom-modal.modal-dialog {
    height: 90vh;
    width: 100%;
    margin: 5vh 0;
}

@media screen and (max-width: 425px) {
    .custom-modal.modal-dialog {
        height: 76vh;
        margin: 9vh 0 15vh 0;
    }
}

.modal-header h4.modal-title {
    font-size: 28px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0.4px;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .modal-header h4.modal-title { font-size: 22px }
}

@media screen and (max-width: 425px) {
    .modal-header h4.modal-title { font-size: 16px }
}

.modal-header {
    text-align: center;
    border-bottom: none !important;
}

.modal-header #close_button { 
    color: white;
    font-weight: lighter;
    opacity: 1;
    display: inline;
    float: right;
    font-size: 20px;
}

.modal-header #close_button:hover {
    opacity: 0.3;
    text-decoration: none;
    background-color: transparent;
}

.modal-header, .modal-footer {
    background-color: transparent;
    color: white;
    padding: 0 10px !important;
}

.modal-header { padding-bottom: 10px !important }
.modal-footer { padding-top: 10px !important }

.modal-content {
    height: 100%;
    width: 96%;
    margin: auto;
    font-size: 12px;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.modal-body {
    // 90vh is the height of its parent .custom-modal.modal-dialog
    // header + footer heights = 70px (see below)
    height: calc(90vh - 70px);
    padding: 0px !important;
    /* needed to center picture description */
    text-align: center;
}

@media screen and (max-width: 425px) {
    .modal-body {
        // 76vh is the height of its parent .custom-modal.modal-dialog
        // header + footer heights = 70px (see below)
        height: calc(76vh - 70px)}
}

.modal-body img {
    margin: auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    max-height: 100%;
    max-width: 100%;
}

.prev-pic, .next-pic {
    position: absolute;
    width: 8%;
    height: 100%;
    text-align: center;
    z-index: 10;
}

@media screen and (max-width: 425px) {
    .prev-pic span, .next-pic span {display: none}
}

.prev-pic { left: 0 }
.next-pic { right: 0 }

.prev-pic:hover, .next-pic:hover {
    cursor: pointer;
    background-color: transparent;
}

#chevron-left, #chevron-right { 
    top: 50%;
    font-size: 30px;
    color: #fff;
    margin-top: -10px;
    text-shadow: 3px 3px 10px black;;
}

.prev-pic:hover #chevron-left, .next-pic:hover #chevron-right {
    text-shadow: 5px 5px 12px black; 
}

span.pic-description {
    position: absolute;
    bottom: 0;
    transform: translate(-50%, -50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    margin: 0 auto;
    background-color: rgba(255,255,255,0.6);
    color: black;
    max-width: 90%;
    padding: 5px 10px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 0.5;
    font-size: 18px;
    border-radius: 25px;
}

@media screen and (min-width: 426px) and (max-width: 767px) {
    span.pic-description { font-size: 14px }
}

@media screen and (max-width: 425px) {
    span.pic-description { font-size: 12px }
}

/* picture modal footer */
div.modal-footer {
    text-align: center !important;
    border-top: none;
    line-height: 20px;
}

#pic_copyright {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.4px;
}

@media screen and (min-width: 426px) and (max-width: 767px) {
    #pic_copyright { font-size: 16px }
}

@media screen and (max-width: 425px) {
    #pic_copyright { font-size: 12px }
}

div.picture_modal div.modal-footer button.btn {
    border: none;
    box-shadow: none;
    background: #3B5998;
    color: white;
    float: right;
    text-shadow: none;
    padding: 3px 4px 0 5px;
    outline: 0;
}

/* FB sharing button in picture modal */
#fb_share_btn_pic {
    border: none;
    height: 19px;
    margin-left: 10px;
    padding: 0px 5px;
    border-radius: 3px;
    background-color: #3B5998;
    color: white;
    outline: 0;
}

#fb_share_btn_pic > span {
    font-size: 11px;
    font-family: Helvetica, Arial, sans-serif;
    margin-left: 5px;
    letter-spacing: 0.5px;
}

#fb_share_btn_pic:hover { opacity: 0.9 }