#presentations {
    width: 96%;
    margin: 170px auto 0 auto;
    max-width: 800px;
    text-align: center;
    height: 100%;
    /* for footer proper layout (NB: footer height is 30px) */
    padding-bottom: 30px;
}

@media screen and (max-width: 767px) and (min-width: 426px) {
    #presentations { margin: 120px auto 0 auto }
}

@media screen and (max-width: 425px) {
    #presentations { margin: 70px auto 0 auto }
}

.single-presentation {
    background-color: #fff;
    max-width: 1000px;
    text-align: justify;
    padding: 20px;
    margin: 20px auto;
    opacity: 0.9;
    border-radius: 3px;
}

.single-presentation h4 {
    border-bottom: solid thin;
    padding-bottom: 10px;
    margin: 0 0 20px 0;
}

#id_picture {
    display: inline-block;
    margin: 3px 15px 5px 0;
    width: 150px;
    max-width: 45%;
    float: left;
}