/* see also forms section in application.css */

#login_title {
    margin-bottom: 20px;
}

table#login_table { 
    background-color: #fff;
    margin-bottom: 0;
}

table#login_table input {
    padding: 3px;
    border-radius: 2px;
    border: solid thin lightgray;
}