.user-info .admin-page-title {
    text-align: center;
}

.user-info {
    width: 96%;
    margin: 170px auto 0 auto;
    max-width: 800px;
    height: 100%;
    /* needed for proper footer layout */
    padding-bottom: 30px;
}

@media screen and (max-width: 767px) and (min-width: 426px) {
    .user-info { margin: 120px auto 0 auto }
}

@media screen and (max-width: 425px) {
    .user-info { margin: 95px auto 0 auto }
}

#users_table {
    background-color: white;
    border: solid thick white;
    opacity: 0.9;
}