// Place all the styles related to the Welcome controller here: ie. home page and 'about me' page
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-page {
    /* header height is 150px */
    margin-top: 150px;
    height: calc(100vh - 150px); /* NB: 100% doesn't work */
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    #home-page {
        margin-top: 100px;
        height: calc(100vh - 100px); /* header is 100px */
    }
}

@media screen and (max-width: 424px) {
    #home-page {
        margin-top: 60px;
        height: calc(100vh - 60px); /* header is 60px */
        max-height: 150%;
    }
}


/* Home page carousel */

#home-page div.carousel.slide {
    position: relative;
    width: 98%;
    height: 95%;
    margin: auto;
}

#home-page div.carousel.slide div.carousel-inner {
    /* carousel indicators have a height of 18px and a 10px-bottom margin,
    plus a 20px bottom for screens wider than 768px */
    height: calc(100% - 48px);
    width: 100%;
}

@media screen and (max-width: 767px) {
    #home-page div.carousel.slide div.carousel-inner {
        height: calc(100% - 28px);
    }
}

#home-page div.carousel.slide div.carousel-inner div.item {
    height: 100%;
    width: 100%;
    position: relative;
}

#home-page div.carousel.slide div.carousel-inner div.item img {
    max-width: 100%;
    max-height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}

#home-page div.carousel.slide div.carousel-inner div.item div.carousel-caption p {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 2em;
    display: inline;
    margin: auto;
    padding: 3px 8px 5px 8px;
    border-radius: 25px;
    text-shadow: 1px 3px 3px black;
}

#home-page a.carousel-control {
    background: none !important;
    color: white;
    opacity: .9;
}

#home-page a.carousel-control:hover { background-color: none }

#home-page a.carousel-control:hover span.glyphicon {
    text-shadow: 3px 3px 10px black;
}

#home-page ol.carousel-indicators li { background-color: white; border-color: rgb(93, 93, 93); }
#home-page ol.carousel-indicators li.active { background-color: black; border-color: white; }

@media screen and (max-width: 425px) {
    #home-page div.carousel.slide div.carousel-inner div.item div.carousel-caption p {
        font-size: 1.5em;
    }
}

/*********************************************************************/
/* about/contact page */

#contact_page {
    width: 96%;
    max-width: 600px;
    margin: 160px auto 0 auto; /* header has a height of 150px + 10px extra margin */
    padding: 20px;
    height: 100%;
    /* for footer proper layout (NB: footer height is 30px) */
    padding-bottom: 30px;
}

@media screen and (max-width: 767px) and (min-width: 426px) {
    #contact_page { margin: 110px auto 0 auto } /* header has a height of 100px + 10px extra margin */
}

@media screen and (max-width: 425px) {
    #contact_page { margin: 70px auto 0 auto } /* header has a height of 60px + 10px extra margin */
}

#about_presentation {
    background-color: #fff;
    padding: 20px 20px 15px 20px;
    margin-bottom: 20px;
    opacity: 0.9;
    border-radius: 3px;
}

#about_presentation p {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
}

@media screen and (max-width: 767px) and (min-width: 426px) {
    #about_presentation { font-size: 14px }
}

@media screen and (max-width: 425px) {
    #about_presentation { font-size: 12px }
}

#language_buttons {
    display: inline-block;
    float: right;
    margin-left: 5px;
}

button.lang_btns {
    margin-left: 5px;
    background-image: none;
    background-color: #f3f3f3;
    box-shadow: 1px 1px 4px #AAAAAA;
    outline: 'none';
}

button.lang_btns:hover {
    background-color: white;
    border-color: #dbdbdb;
    box-shadow: 1px 1px 4px;
}

button.lang_btns.active, button.lang_btns.active:hover {
    cursor: default;
    border: solid thin grey;
    box-shadow: none;
}

#contact_btn {
    margin-bottom: 7px;
    background: white;
}

#contact_me .panel, #contact_me td { border: none }

#contact_me div.panel-body { padding: 10px }

#contact_btn {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    outline: none;
}

#contact_me .panel td:nth-child(1) input,
#contact_me .panel td:nth-child(2) input {
    max-width: 100%;
    width: 250px;
}

#contact_me textarea { border-radius: 0 }

#contact_me div.actions {
    margin-top: -10px;
    margin-left: 10px;
}

form#contact_form div.actions input {
    background: var(--site-footer);
    border: var(--site-footer);
    border-radius: 0;
    padding: 3px 8px;
}

.g-recaptcha {
    float: right;
    margin-top: -35px;
}