// Place all the styles related to the Welcome controller here: ie. home page and 'about me' page
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#home-page {
    /* header height is 150px */
    margin-top: 150px;
    height: calc(100vh - 220px); /* NB: 100% doesn't work */
}

/* Home page carousel */

#home-page div.carousel.slide {
    position: relative;
    width: 98%;
    max-width: 95vh;
    height: 85%;
    margin: 220px auto 0 auto;
    background-color: rgba(255,255,255,0.3);
    border-radius: 5px;
    box-shadow: 2px 2px 20px #656363;
}

#home-page ol.carousel-indicators {
    bottom: 25px;
}

#home-page div.carousel.slide div.carousel-inner {
    /* carousel indicators have a height of 18px and a 10px-bottom margin,
    plus a 20px bottom for screens wider than 768px */
    height: 100%;
    width: 100%;
    padding: 0 2%;
}

#home-page div.carousel.slide div.carousel-inner div.item {
    height: 100%;
    width: 100%;
    position: relative;
}

#home-page div.carousel.slide div.carousel-inner div.item img {
    max-width: 100%;
    max-height: 82%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
}

#home-page div.carousel.slide div.carousel-inner div.item div.carousel-caption {
    bottom: 2px;
    padding-bottom: 0;
}

#home-page div.carousel.slide div.carousel-inner div.item div.carousel-caption p {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 2em;
    display: inline;
    margin: auto;
    padding: 10px;
    border-radius: 25px;
    text-shadow: 2px 2px 2px black;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}

#home-page a.carousel-control {
    background: none !important;
    color: white;
    opacity: .9;
}

#home-page a.carousel-control:hover { background-color: none }

#home-page a.carousel-control:hover span.glyphicon {
    text-shadow: 3px 3px 10px black;
}

#home-page ol.carousel-indicators li { background-color: white; border-color: rgb(93, 93, 93); }
#home-page ol.carousel-indicators li.active { background-color: black; border-color: white; }

@media screen and (max-width: 767px) and (min-width: 426px) {
    #home-page {
        margin-top: 100px;
        height: calc(100vh - 150px); /* header is 100px + 80px to center vertically */
    }
    #home-page div.carousel.slide {
        margin: 150px auto 0 auto;
    }
}

@media screen and (max-width: 425px) {
    #home-page {
        margin-top: 110px;
        height: calc(100vh - 110px); /* to center vertically with a 100px margin-top */
        max-height: 150%;
    }
    #home-page div.carousel.slide {
        margin: 110px auto 0 auto;
    }
    #home-page div.carousel.slide div.carousel-inner div.item div.carousel-caption p {
        font-size: 1.5em;
    }
}

/* if using a mobile device horizontally */
@media screen and (max-height: 425px) and (orientation: landscape) {
    #home-page div.carousel-caption p {font-size: 14px !important}
    #home-page div.carousel.slide ol.carousel-indicators {bottom: 10px !important}
    #home-page div.carousel.slide div.carousel-inner {height: 100% !important} 
}

/*********************************************************************/
/* about/contact page */

#contact_page {
    width: 96%;
    max-width: 600px;
    margin: 160px auto 0 auto; /* header has a height of 150px + 10px extra margin */
    padding: 20px;
    height: 100%;
    /* for footer proper layout (NB: footer height is 30px) */
    padding-bottom: 30px;
}

#contact_page .page-title {
    line-height: 30px;
    margin-bottom: 20px;
    display: block;
}

@media screen and (max-width: 767px) {
    #contact_page { margin: 110px auto 0 auto } /* header has a height of 100px + 10px extra margin */
}

@media screen and (max-width: 425px) {
    #contact_page { margin: 70px auto 0 auto } /* header has a height of 60px + 10px extra margin */
}

#about_presentation {
    background-color: #fff;
    padding: 20px 20px 15px 20px;
    margin-bottom: 20px;
    opacity: 0.9;
    border-radius: 3px;
    width: 100%;
    float: left;
}

#about_presentation p {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
}

@media screen and (max-width: 767px) and (min-width: 426px) {
    #about_presentation { font-size: 14px }
}

@media screen and (max-width: 425px) {
    #about_presentation { font-size: 12px }
}

#language_buttons {
    float: right;
    margin-bottom: 10px;
}

button.lang_btns {
    margin-left: 5px;
    background-image: none;
    background-color: #f3f3f3;
    box-shadow: 1px 1px 4px #AAAAAA;
    outline: 'none';
}

button.lang_btns:hover {
    background-color: white;
    border-color: #dbdbdb;
    box-shadow: 1px 1px 4px;
}

button.lang_btns.active, button.lang_btns.active:hover {
    cursor: default;
    border: solid thin grey;
    box-shadow: none;
}

#contact_btn {
    margin-bottom: 7px;
    background: white;
}

#contact_me .panel, #contact_me td { border: none }

#contact_me div.panel-body { padding: 10px }

#contact_btn {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    outline: none;
}

#contact_me .panel td:nth-child(1) input,
#contact_me .panel td:nth-child(2) input {
    max-width: 100%;
    width: 250px;
}

#contact_me textarea { border-radius: 0 }

#contact_me div.actions {
    margin-top: -10px;
    margin-left: 10px;
    width: 60px;
    padding: 4px 6px;
    background: #55a9c5;
    box-shadow: 1px 1px 15px #9c9c9c;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
}

#contact_me div.actions:hover {
    box-shadow: 1px 1px 15px #676767;
}

#contact_me div.actions input { letter-spacing: 0.5px }

form#contact_form div.actions input {
    background: var(--site-footer);
    border: var(--site-footer);
    border-radius: 0;
    padding: 3px 8px;
}

.g-recaptcha {
    float: right;
    margin-top: -35px;
}